extends layout

block content
  h1= title
  p Welcome to #{title}
  p What the hell is this jade code? I've never seen this before. 
  p is it just shorthand for html backets? 
  p how do I add CSS classes and stuff?

  a(href='/test') Link To Test Page
